/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

#section-1 {background:url(Images/bg1.jpg) fixed;}

section{
    -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position:center center;
        background-attachment:fixed;
    }


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-image: url(Images/xp1.png);*/
  background-color: #0363b7;
  background-size: cover;
}
body {

  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */


.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > #navbar{
    color:black;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding: 4px;
  font-size: 20px;
  font-weight: 500;
  color: #fff; /* IE8 proofing */
  color: rgb(255, 255, 255);
  border-bottom: 0px solid transparent;
  width: 100px;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: rgb(137, 43, 226);
  padding:8px;
  border-radius: 10px;
  text-decoration:none;
  width: 100px;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    background-color: rgba(137, 43, 226, 0.446);
    padding:8px;
    border-radius: 10px;
    border-bottom-color: #fff;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    right: 15%;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .main-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .main-container {
    width: 700px;
  }
}

/* Zach Additions */
#content {
    width: 100%;
    padding: 90px 0 90px 0;
    z-index: 100;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-content: center;

}
.card{
  border-radius: 30px;
  width: 300px;
  height: 320px;
  padding: 40px;
  background-color:rgba(5, 0, 163, 0.728);
  border: 4px solid rgb(255, 255, 255);
  margin: 30px;
  display:inline-block;
  box-shadow: 
    0 0 30px 10px rgba(0, 37, 184, 0.476),
    inset 0 0 20px 0px rgb(39, 131, 229);
  align-content: center;
  vertical-align: middle;
}

.about-me{
  display:table;
  clear:both;
  width:100%;
}

.about-me-item-1{
  display:inline-block;
  width:40%;
}

.about-me-item-1 > img{
  float:center;
  margin-left: 100px;
  border-radius:10px;
  width:45%;
  height:45%;
}

.about-me-item-2{
  display:inline-block;
  width:60%;
  vertical-align: middle;
}

.about-me-item-2 > li{
  width:100%;
  padding:10px;
  display:inline-block;
  white-space: pre-line;
  text-align:left;
  vertical-align: middle;
  font-size: 20px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight:600;

}

.card h1{
  font-size: 40px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight:600;
  vertical-align: text-top;
}
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.deco_box{
	border:solid 3px #fff;
	padding:40px 80px 0 80px;
	overflow:hidden;
    margin-right:-15px;
    margin-left:-15px;
	display:inline-block;
}

.deco_box h1{
    font-size: 60px;
	font-weight:600;
    vertical-align: text-top;
}

.deco_box h2 {
    font-size: 24px;
    font-weight:400;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.img-profile{
    border: solid 3px #fff;
    border-radius: 50%;
}

.spacer-double {
	width: 100%;
	display: block;
	clear: both;
}

.bg-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.center-y {
	position: relative;
}
.overlay-bg {
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	padding:100px 0 100px 0;
}
section {
  display:none;
}
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    white-space: nowrap;
  }
  #mainNav .navbar-brand {
    color: #fff;
  }
  #mainNav .navbar-nav {
    margin-top: 1rem;
    width: 100%;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #ffff00;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #ffff00;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
      margin-top: 10px;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #ffff00;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #ffff00;

    }
  
    #mainNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  }